.container {
    display: flex;
    justify-content: center;
}

.container .AddButton {
    margin-right: 50px;
    margin-bottom: 20px;
}

.container table {
    border: 1px solid black;
}

.hideDescription {
    height: 20px;
    width: 300px;
    overflow: hidden;
}


.showDescription {
   
}